<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - ComicBooks</title>
    <link rel="stylesheet" href="~/css/customLayout.css" />
</head>
<body>
    <partial name="_PartialHeader" />


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

        </main>
    </div>

    <partial name="_PartialFooter" />
    @RenderSection("Scripts", required: false)
</body>
</html>
