<footer class="border-top footer text-muted">
    <div class="container">
        <p italic> <span bold>&copy;2020</span> - <home>Comic Books project</home> - jskrzypiec</p>
            
    </div>
</footer>