ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;

}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #111111;
        }

div {
    text-align: center;
}
body {
    background-color: darkgrey;
}

.navbar-brand{
    font-size: 40px;
    text-decoration: none;
    color: darkred;
}
    .navbar-brand:hover{
        text-decoration:none;
        color: red;
    }

    button {
        display: none;
    }

a{
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}

.navbar-nav {
    margin: auto;
}



.navbar-nav{
    position:absolute;
    right:30px;
}

.flex-grow-1 {
    position: relative;
    right: 30px;
    width: 80%;
}